.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.navigator {
    color: var(--blue);
    background-color:var(--varWhite);
    width: 100%;
    display: flex;
    align-items:end;
    justify-content: center;
}

.btn-navigator {
    background-color:var(--varWhite);
    border: 1px solid var(--blue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
}

.btn-navigator:hover {
    background-color: var(--blue);
    color: var(--white);
}

