.audit-section{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-audit{
    /*border: 1px solid red;*/
    padding: 20px;
    display: flex;
    column-gap: 10px;

}



.tableContent {
    /*border: 1px solid yellow;*/
    padding: 20px;
    margin: 20px;
    color: var(--blue);
}

table{
    padding: 5px;
    border: 1px solid var(--white);
    border-radius: 5px;
    background-color: var(--white);
}


th{
    border: 1px solid var(--blue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    color: var(--blue);
}

td {
    border: 1px solid var(--blue);
    padding: 10px;
    color: var(--blue);
}
