

.audit-section{
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.box-audit{
    /*border: 1px solid red;*/
    padding: 1S5px;
    display: flex;
    column-gap: 10px;
 
}

.btn-box-audit {
    display: flex;
    column-gap: 2px;
}

.modal{
    text-align: center;
    color: var(--blue);
    border-radius: 5px;
    background-color: var(--white);
    padding: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.modal-content {
    display: flex;
    flex-direction: row;
}

.box-createWord{
    display: flex;
    flex-direction: column;

}

.tableContent {
    /*border: 1px solid yellow;*/
    padding: 20px;
    margin: 5px;
    color: var(--blue);
}

table{
    padding: 5px;
    border: 1px solid var(--white);
    border-radius: 5px;
    background-color: var(--white);
}


th{
    border: 1px solid var(--blue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
}

/*
tr:hover {
    background-color: var(--blue);
    color: var(--white);
}*/

td {
    border: 1px solid var(--blue);
    padding: 10px;
    text-align: center;
}

.btn-icon {
    padding: 5px;
}

