* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #284B63;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 100px;
    width: 62.5rem;
    height: 37.5rem;
    background-color: #EEF0EB;
    box-shadow: 0px 6px 25px 2px rgba(34, 34, 34, 0.50);
    border-radius: 50px;
}*/

.card {
    display: grid;
    grid-template-columns: 3fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding: 50px;
    margin: 100px;
    width: 62.5rem;
    height: 37.5rem;
    background-color: #EEF0EB;
    box-shadow: 0px 6px 25px 2px rgba(34, 34, 34, 0.50);
    border-radius: 50px;
}

#Dados-Usuario{
    grid-template-columns: 1;
    justify-content: space-evenly;
}

#Plano {
    /*justify-content: space-evenly;*/
    justify-items: center;
}

h5 {
    font-family: 'Roboto mono', monospace;
}

#rectangle-suaconta {
    border: 1px solid #0C2A3B;
    width: 500px;
    margin-bottom: 10px;
}

#rectangle-plano {
    border: 1px solid #0C2A3B;
    margin-bottom: 10px;
}

h6 {
    border: #284B63;
    padding: 5px;
}

p {
    text-align: center;
}


#flexbox {
    border: 1px solid #284B63;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    width: 200px;
}

#coisa {
    border: 0px solid red;
    display: inline-flex;
}

.card input{
    /*layout*/
    margin: 10px;
    padding: 5px;
    width: 400px;
    height: 40px;
    /*style*/
    border-radius: 5px;
    border: 1px solid #153243;
    background: #EEF0EB;
    box-shadow: 5px 5px 10px 2px rgba(51, 51, 51, 0.20) inset;
}

#jud-dt-Nascimento {
    /*layout*/
    margin: 10px;
    padding: 5px;
    width: 295px;
    height: 40px;
    /*style*/
    border-radius: 5px;
    border: 1px solid #153243;
    background: #EEF0EB;
    box-shadow: 5px 5px 10px 2px rgba(51, 51, 51, 0.20) inset;
}

#jud-nome {
    /*layout*/
    margin: 10px;
    padding: 5px;
    width: 325px;
    height: 40px;
    /*style*/
    border-radius: 5px;
    border: 1px solid #153243;
    background: #EEF0EB;
    box-shadow: 5px 5px 10px 2px rgba(51, 51, 51, 0.20) inset;
}

#jud-senha {
    /*layout*/
    margin: 10px;
    padding: 5px;
    width: 395px;
    height: 40px;
    /*style*/
    border-radius: 5px;
    border: 1px solid #153243;
    background: #EEF0EB;
    box-shadow: 5px 5px 10px 2px rgba(51, 51, 51, 0.20) inset;
}

#nome-empresa {
    /*layout*/
    margin: 10px;
    padding: 5px;
    width: 310px;
    height: 40px;
    /*style*/
    border-radius: 5px;
    border: 1px solid #153243;
    background: #EEF0EB;
    box-shadow: 5px 5px 10px 2px rgba(51, 51, 51, 0.20) inset;
}

#tipo-empresa {
    /*layout*/
    margin: 10px;
    padding: 5px;
    width: 320px;
    height: 40px;
    /*style*/
    border-radius: 5px;
    border: 1px solid #153243;
    background: #EEF0EB;
    box-shadow: 5px 5px 10px 2px rgba(51, 51, 51, 0.20) inset;
}

#coisa2 {
    border: 0px solid red;
    justify-items: center;
    margin-left: 20px;
}

.card .btn {
    /*layout*/
    margin: 10px;
    display: inline-block;
    padding: 9px 45px;
    border-radius: 5px;
    background: #255875;
    color: #fff;
}

.btn:hover {
    background-color: #0C2A3B;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
