* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #284B63;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 100px;
    width: 62.5rem;
    height: 37.5rem;
    background-color: #EEF0EB;
    box-shadow: 0px 6px 25px 2px rgba(34, 34, 34, 0.50);
    border-radius: 50px;
}*/

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 50px;
    margin: 100px;
    width: 62.5rem;
    height: 37.5rem;
    background-color: #EEF0EB;
    box-shadow: 0px 6px 25px 2px rgba(34, 34, 34, 0.50);
    border-radius: 50px;
}

h5 {
    font-family: 'Roboto mono', monospace;
}

ul {
    border: 1px solid #284B63;
    border-radius: 10px;
    padding: 5px;
}

li {
    list-style: none;
}


#flexbox {
    border: 1px solid #284B63;
    border-radius: 10px;
    padding: 5px;
    width: 200px;
}

.card .btn {
    /*layout*/
    margin: 10px;
    display: inline-flex;
    padding: 9px 45px;
    border-radius: 5px;
    background: #255875;
    color: #fff;
}

.btn:hover {
    background-color: #0C2A3B;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
