.App {
  background-color: #153243;
  min-height: 100vh;
  max-height: auto;
  margin: 0;
  padding: 0;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


