@keyframes blinker {
    50% { opacity: 0.0; }
  }

.wordcloud-section {
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 25px;
    color:#F4F9E9;
}

.searchbox {
    /*border: 1px solid yellow;*/
    padding: 15px;
    display: flex;
}

.search-input{
    width: 400px;
}

.wordcloud-box{
    /*border: 1px solid red;*/
    padding: 15px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.btn-search {
    padding-top: 6px;
    padding-bottom: 2px;
}

img {
    padding: 0;
    margin: 0;
}